@model List<POSTest.NewFolder.Item> ;

@{
    ViewData["Title"] = "Products";
}

<div class="page-header d-md-flex justify-content-between">
    <div>
        <h3>Users</h3>
        <nav aria-label="breadcrumb" class="d-flex align-items-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="index" asp-controller="products">Products list</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model )
        {
        <div class="row">
            @foreach (var size in item.Sizes)
            {
                <div class="col-md-4 col-xs-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="my-3">
                                <a href="#" title="Vase">
                                    <img src="~/Images/@item.Picture"
                                         class="img-fluid rounded" alt="Vase">
                                </a>
                            </div>
                            <div class="text-center">
                                <a href="#">
                                    <h4>@item.Name - @size.Name</h4>
                                </a>
                                <p>
                                    <span class="text-truncate">@size.Price BHD</span>
                                </p>
                                <div class="mt-2">
                                    <button class="btn btn-primary add-to-card" onclick=" addtolocalstorage('@item.Name', '@size.Price', '@size.Price')">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
        }
        @*<div class="row">

            
            <div class="col-md-4 col-xs-6">
                <div class="card">
                    <div class="card-body">
                        <div class="my-3">
                            <a href="#" title="Vase">
                                <img src="../../assets/media/image/products/product1.png"
                                     class="img-fluid rounded" alt="Vase">
                            </a>
                        </div>
                        <div class="text-center">
                            <a href="#">
                                <h4>Cheese Burger - Large</h4>
                            </a>
                            <p>
                                <span class="text-truncate">1.6 BHD</span>
                            </p>
                            <div class="mt-2">
                                <button class="btn btn-primary add-to-card">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="card">
                    <div class="card-body">
                        <div class="my-3">
                            <a href="#" title="Vase">
                                <img src="../../assets/media/image/products/product1.png"
                                     class="img-fluid rounded" alt="Vase">
                            </a>
                        </div>
                        <div class="text-center">
                            <a href="#">
                                <h4>Cheese Burger - Medium</h4>
                            </a>
                            <p>
                                <span class="text-truncate">1.4 BHD</span>
                            </p>
                            <div class="mt-2">
                                <button class="btn btn-primary add-to-card">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>


<script type="text/javascript">

    function addtolocalstorage(name, price, size_name) {

        var x = { 'name': name, 'price': price, 'size_name': size_name };

        // Put the object into storage
        localStorage.setItem(name, JSON.stringify(x));

        // Retrieve the object from storage
        var retrievedObject = localStorage.getItem(name);

        console.log('retrievedObject: ', JSON.parse(retrievedObject));




    }

</script>